.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .productList {
    list-style-type: none;
    padding: 0;
  }
  
  .productItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .productImage {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .productInfo {
    display: flex;
    flex-direction: column;
  }
  
  .productInfo h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #dd90f6;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #670070;
    color: white;
  }