/* Estilos para el componente DetalleProducto */

.detalle-producto__contenedor {
  max-width: 600px; /* Reducir el tamaño máximo del contenedor */
  margin: 0 auto;
  padding: 20px;
}

.detalle-producto__titulo {
  font-size: 24px;
  margin-bottom: 20px;
}

.detalle-producto__descripcion {
  margin-bottom: 10px;
}

.detalle-producto__precio {
  margin-bottom: 10px;
}

.detalle-producto__imagen {
  max-width: 100%;
  height: auto;
  width: 200px; /* Fijar un tamaño más pequeño para las imágenes */
  margin-bottom: 20px;
}

.detalle-producto__contenedor-cantidad {
  margin-bottom: 10px;
}

.detalle-producto__etiqueta-cantidad {
  margin-right: 10px;
}

.detalle-producto__input-cantidad {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.detalle-producto__boton-agregar {
  padding: 8px 16px;
  background-color: #dd90f6;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.detalle-producto__boton-agregar:hover {
  background-color: #670070;
  color: white;
}

.detalle-producto__contenedor-mensaje {
  margin-top: 20px;
}

.detalle-producto__mensaje {
  color: rgb(34, 0, 255);
}

.detalle-producto__estado-carrito {
  margin-top: 10px;
}
